<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro Produto</h1>
        <form th:action="@{/cadastro}" th:object="${produto}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" placeholder="Digite o nome: " required>

            <label for="preco">preço:</label>
            <input type="text" id="preco" th:field="*{preco}" placeholder="Digite o Preço: " required>

            <button type="submit">Cadastrar</button>
        </form>
            <a th:href="@{/}">Voltar para Lista de Produtos</a>
    </div>
</body>
</html>