<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
  <div class="container">
    <h1>Lista de Produtos</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="produto : ${produtos}">
          <td th:text="${produto.id}">ID do Produto</td>
          <td th:text="${produto.nome}">Nome do Produto</td>
          <td th:text="${produto.preco}">Preço do Produto</td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/cadastro}">Cadastrar novo Produto</a>
  </div>
</body>

</html>